PRIVATE_KEY=YOUR_PRIVATE_KEY

# Algorand node configuration
LOCALNET_ALGOD_URL=http://localhost
LOCALNET_ALGOD_PORT=4001
LOCALNET_ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

TESTNET_ALGOD_URL=https://testnet-api.algonode.cloud
TESTNET_ALGOD_PORT=443
TESTNET_ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
